<div class="static_pages_home">
	<div class="form">
			<form action="#">
				<h2 class="hidden">Login</h2>
				<h2>Have an account? Sign in</h2>
				<input class="input" type="text" name="username" value="" placeholder="Username" /><br />
				<input class="input" type="password" name="password" value="" placeholder="Password" />
				<input class="submit" type="submit" name="login" value="login" />
				<input class="check-box" type="checkbox" name="checkbox" value="remember_me">Remember me
			</form>
		</div>
</div>