<div class="home">
	<div class="row">
		<div class="container-fluid">
			
		<!-- div.banner-image -->
		<div class="row banner-image">

			<div class="space"></div>
			<div class="container banner-overlay">

				<div class="col-md-5 col-sm-5 col-xs-1"></div>
				<!-- div.login-signup-tabbed-forms -->
				<div class="login-signup-tabbed-forms col-md-6 col-sm-6 col-xs-10">
					<div role="tabpanel">
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs" role="tablist">
					    <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
					    <li role="presentation"><a href="#signup" aria-controls="profile" role="tab" data-toggle="tab">Sign Up</a></li>
					  </ul>
					  <!-- Tab panes -->
					  <div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="login">
					    	<form>
					    		<input class="form-control" />
					    		<input class="form-control" />
					    	</form>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="signup">2</div>
					  </div>
					</div>
				</div>
				<!-- /div.login-signup-tabbed-forms -->
				<div class="col-md-1 col-sm-1 col-xs-1"></div>

			</div>
		</div>
		<!-- /div.banner-image -->

		</div>
	</div>
</div>