<div class="static_pages_home">
	<div class="row">
		<div class="container">
			
		<div class="col-md-1"></div>
		<div class="col-md-10">
		  <h2><b>HourGlass</b><br />lets you track the time you spend at work</h2>
		  <div class="action-buttons">
		  	<%= link_to 'Login', new_user_session_path, class: 'button login-button' %>
		  	<%= link_to 'Get Started', new_user_registration_path, class: 'button signup-button' %>
		  </div>
		</div>
		<div class="col-md-1"></div>

		</div>
	</div>
</div>