<nav class="navbar navbar-default shared-navbar">
  <div class="container container-main">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#right-collapse-section">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'HourGlass', root_path, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="right-collapse-section">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'History', history_path %></li>
        <li><a href="<%= destroy_user_session_path %>" data-method='delete'>Logout&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>