.activities_index {
  font-family: 'Muli', sans-serif;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  background: #F8F8F8;
  h2 {
    color: #26AFAE;
    font-size: 2.5em;
  }

  /* .activities_history */
  .activities_history {
    margin: 2em auto;
    color: dimgrey;

    td, tr, th {
      border: 1px solid $hourglass_gray_medium;
      padding: 1em;
    }

    th {
      background-color: $hourglass_gray;
    }

    tr {
      &:hover {
        background-color: $hourglass_pink_very_light;
      }

    }
  }

  /* /.activities_history */
  .no-students-quote {
    color: $hourglass_green;
  }
}