.shared-navbar {
  margin-bottom: 0px;
  border: 0px;
  height: 15vh;
  .container-main {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .navbar-brand {
    font-family: 'Muli', sans-serif;
    color: $hourglass_red;
    font-size: 1.6em;
    &:hover {
      color: initial;
    }
  }
  #right-collapse-section li a {
    font-size: 1.1em;
    &:hover {
      color: $hourglass_gray;
    }
  }
}