.static_pages_home {
	overflow-y: hidden;

	background-color: #ECBFBF;
	margin: 0px;
	color: #7e7e7e;
	font-family: Roboto, Arial, sans-serif;
	font-weight: 100;
	position: relative;
	height: 100vh; width: 100vw;
	
	.form {
		height: 375px; width: 600px;
		background-color: #ececec;
		margin: auto;
		position: relative;
		top: 100px;
		box-shadow: 1px 1px 10px  gray;
	}
	
	form h2{
		padding: 30px;
		text-align: center;
	}
	
	.hidden {
		display: none;
	}
	
	.input {
		width: 72%;
		padding: 17px;
		border: 1px solid #d5d5d5;
		display: block;
		margin: 0px auto 1em auto;
		color: #7e7e7e;
	}
	
	.submit {
		width: 22%;
		padding: 12px; border: 0px; margin: 0px auto 5px auto;
		display: block;
		background-color: #74CFC8;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.check-box {
		border: 1px solid #d5d5d5;
		border-radius: none;
		margin-left: 90px; margin-top: 0.7em;
	}

	.recovery-links {
		text-align: center;
	}

}