$hourglass_red: #ed5757;
$hourglass_pink_very_light: #f9f4f4;
$hourglass_pink_light: #FDB3A7;
$hourglass_pink: #ff8d7a;
$hourglass_gray_light: #F8F8F8;
$hourglass_gray: #F0F0F0;
$hourglass_gray_medium: #e2e2e2;
$hourglass_gray_dark: #BABABA;
$hourglass_gray_very_dark: #777777;
$hourglass_hospital_green: #9DD8D4;
$hourglass_green: #84CA84;
$hourglass_green_dark: #26A55B;
$hourglass_blue: #4FA5CB;